In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
bdf7 = pd.read_pickle('batting_2017.pkl')
bdf6 = pd.read_pickle('batting_2016.pkl')

In [3]:
bdf.head()

,rk,name,age,tm,g,pa,rbat,rbaser,rdp,rfield,...,waawl%,162wl%,owar,dwar,orar,salary,acquired,pos summary,bat_hand,log_sal
0,1,Fernando Abad,31,BOS,4,0.0,0,0,0,0,...,0.500,0.500,0.0,0.0,0.0,2000000.0,Traded,1,lhb,6.301030
1,2,Jose Abreu,30,CHW,156,675.0,34,1,-2,0,...,0.515,0.515,4.8,-0.9,47.0,10825000.0,Amateur Free Agent,*3D,rhb,7.034428
2,3,Cristhian Adames#,25,COL,12,14.0,-4,0,0,-1,...,0.462,0.497,-0.3,-0.1,-3.0,540000.0,Amateur Free Agent,/346,swh,5.732394
5,6,Matt Adams,28,2TM,131,367.0,4,-2,0,-4,...,0.495,0.498,0.9,-0.9,10.0,2800000.0,Traded,37,lhb,6.447158
9,10,Jesus Aguilar,27,MIL,133,311.0,5,0,0,2,...,0.503,0.502,1.0,-0.2,11.0,536000.0,Waivers,3/D5,rhb,5.729165

In [18]:
train = bdf6[bdf6.pa > 200]
test = bdf7[bdf7.pa > 200]

In [23]:
features = train.columns.tolist()[4:21]

In [33]:
train_X = train[features]
train_y = train['log_sal']

In [14]:
from sklearn.linear_model import LinearRegression

In [26]:
lr = LinearRegression()

In [35]:
lr.fit(train_X,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [36]:
predictions = lr.predict(test[features])

In [29]:
from sklearn.metrics import mean_absolute_error

In [37]:
mean_absolute_error(predictions, test['log_sal'])

0.4527558261028486

315