In [3]:
import pandas as pd
import glob

In [17]:
path = './data/'
allFiles = glob.glob(path +'/*.csv')

frame = pd.DataFrame()
list_ = []

for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None,header=0,low_memory=False)
    list_.append(df)
    
frame = pd.concat(list_)

In [18]:
frame.shape

(89242, 21)

In [8]:
frame.head()

,archived,author,author_flair_css_class,author_flair_text,body,controversiality,created_utc,distinguished,downs,gilded,...,link_id,name,parent_id,removal_reason,retrieved_on,score,score_hidden,subreddit,subreddit_id,ups
0,0.0,CityOfWin,NaN,NaN,Cause flagship is the owners designation.,0,1430523577,NaN,0.0,0,...,t3_34k4b1,t1_cqvju4u,t1_cqvjnwf,NaN,1.432722e+09,14,0.0,Seattle,t5_2qhad,14
1,0.0,Icabezudo,NaN,NaN,Apparently so.,0,1431391542,NaN,0.0,0,...,t3_35mx0q,t1_cr64d0i,t1_cr647wv,NaN,1.432906e+09,14,0.0,Seattle,t5_2qhad,14
2,0.0,VaguestCargo,flair,West Seattle,"Haha yeah, the downvotes are a-flyin' in here....",0,1431645336,NaN,0.0,0,...,t3_35ztgo,t1_cr9fg96,t1_cr9fdss,NaN,1.433069e+09,-19,0.0,Seattle,t5_2qhad,-19
3,0.0,hamburger6666,NaN,NaN,"In the street art community, there are general...",0,1431979156,NaN,0.0,0,...,t3_36dqsu,t1_crd9uv0,t1_crd4s0r,NaN,1.433135e+09,21,0.0,Seattle,t5_2qhad,21
4,0.0,[deleted],NaN,NaN,[deleted],0,1432419909,NaN,0.0,0,...,t3_3711c9,t1_crisket,t3_3711c9,NaN,1.433231e+09,-33,0.0,Seattle,t5_2qhad,-33

In [9]:
df2 = pd.read_csv('./data/15_03.csv')

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4112 entries, 0 to 4111
Data columns (total 20 columns):
body                      4112 non-null object
score_hidden              4112 non-null bool
archived                  4112 non-null bool
name                      4112 non-null object
author                    4112 non-null object
author_flair_text         1541 non-null object
downs                     4112 non-null int64
created_utc               4112 non-null int64
subreddit_id              4112 non-null object
link_id                   4112 non-null object
parent_id                 4112 non-null object
score                     4112 non-null int64
retrieved_on              4112 non-null int64
controversiality          4112 non-null int64
gilded                    4112 non-null int64
id                        4112 non-null object
subreddit                 4112 non-null object
ups                       4112 non-null int64
distinguished             4 non-null object
author_flair_css_class    1541 non-null object
dtypes: bool(2), int64(7), object(11)
memory usage: 586.4+ KB

In [12]:
df2.shape

(4112, 20)

In [13]:
df3 = pd.read_csv('./data/results-20180502-121033.csv')

In [14]:
df3.shape

(4948, 21)

In [15]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4948 entries, 0 to 4947
Data columns (total 21 columns):
body                      4948 non-null object
score_hidden              4948 non-null bool
archived                  4948 non-null bool
name                      4948 non-null object
author                    4948 non-null object
author_flair_text         1235 non-null object
downs                     4948 non-null int64
created_utc               4948 non-null int64
subreddit_id              4948 non-null object
link_id                   4948 non-null object
parent_id                 4948 non-null object
score                     4948 non-null int64
retrieved_on              4948 non-null int64
controversiality          4948 non-null int64
gilded                    4948 non-null int64
id                        4948 non-null object
subreddit                 4948 non-null object
ups                       4948 non-null int64
distinguished             13 non-null object
author_flair_css_class    1235 non-null object
removal_reason            0 non-null float64
dtypes: bool(2), float64(1), int64(7), object(11)
memory usage: 744.2+ KB

In [20]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89242 entries, 0 to 5344
Data columns (total 21 columns):
archived                  71912 non-null float64
author                    89242 non-null object
author_flair_css_class    34744 non-null object
author_flair_text         34744 non-null object
body                      89241 non-null object
controversiality          89242 non-null int64
created_utc               89242 non-null int64
distinguished             55 non-null object
downs                     71912 non-null float64
gilded                    89242 non-null int64
id                        89242 non-null object
link_id                   89242 non-null object
name                      71912 non-null object
parent_id                 89242 non-null object
removal_reason            0 non-null float64
retrieved_on              88616 non-null float64
score                     89242 non-null int64
score_hidden              71912 non-null float64
subreddit                 89242 non-null object
subreddit_id              89242 non-null object
ups                       89242 non-null int64
dtypes: float64(5), int64(5), object(11)
memory usage: 15.0+ MB