In [2]:
from train_test_fns import *
import re

In [3]:
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [4]:
train,test = load_data()

train = engineer_features(train)

In [37]:
batting = pd.read_csv('baseballdatabank-master/core/Batting.csv')
bats = batting[batting['yearID'] >= 2000]
#bat_2000_over_100 = bat_2000_over_100.set_index('playerID')

In [15]:
players = pd.read_csv('baseballdatabank-master/core/People.csv')
#players = players.set_index('playerID')

drop_cols = ['deathYear','deathMonth','deathDay','deathCountry','deathState','deathCity',
            'birthYear','birthMonth','birthDay','birthCountry','birthState','birthCity',
            'nameGiven','weight','height','bats','throws','finalGame','retroID','bbrefID']
players = players.drop(drop_cols,axis=1)
players['fullname'] = players['nameFirst'] + ' ' + players['nameLast']
players = players.dropna()

players['fullname'] = players['fullname'].apply(lambda x: ''.join(re.sub(r'[^\w\s]','',x).split(' ')).lower())

In [38]:
bat_join = bats.merge(players,how='left',on='playerID')

keep_cols = ['yearID',
 'G',
 'AB',
 'R',
 'H',
 '2B',
 '3B',
 'HR',
 'RBI',
 'SB',
 'CS',
 'BB',
 'SO',
 'IBB',
 'HBP',
 'SH',
 'SF',
 'GIDP',
 'debut',
 'fullname']

bat_join = bat_join[keep_cols]

bat_join.columns = [x.lower() for x in bat_join.columns]

bat_join = bat_join.groupby(['fullname','yearid','debut'],axis=0)['g','ab','r','h','2b','3b','hr','rbi','sb','cs','bb','so','ibb','hbp','sh','sf','gidp'].sum().reset_index()
bat_join['str_g'] = bat_join['g'].apply(str)
bat_join['str_year'] = bat_join['yearid'].apply(str)
bat_join['name_g_y'] = bat_join['fullname'] + ' ' + bat_join['str_g'] + ' ' + bat_join['str_year']

In [32]:
train['str_g'] = train['g'].apply(str)
train['str_year'] = train['year'].apply(str)
train['name_g_y'] = train['name'].apply(lambda x: ''.join(x.split(' ')).lower()) + ' ' + train['str_g'] + ' ' + train['str_year']

In [39]:
merged = train.merge(bat_join,how='left',on='name_g_y')

In [46]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5395 entries, 0 to 5394
Data columns (total 82 columns):
name            5395 non-null object
age             5395 non-null int64
g_x             5395 non-null int64
pa              5395 non-null int64
rbat            5395 non-null int64
rbaser          5395 non-null int64
rdp             5395 non-null int64
rfield          5395 non-null int64
rpos            5395 non-null int64
raa             5395 non-null int64
waa             5395 non-null float64
rrep            5395 non-null int64
rar             5395 non-null int64
war             5395 non-null float64
waawl%          5395 non-null float64
162wl%          5395 non-null float64
owar            5395 non-null float64
dwar            5395 non-null float64
orar            5395 non-null int64
salary          5395 non-null float64
year            5395 non-null int64
adj_salary      5395 non-null int64
log10_adj       5395 non-null float64
acquired_dr     5395 non-null uint8
acquired_fa     5395 non-null uint8
bat_hand_lhb    5395 non-null uint8
bat_hand_swh    5395 non-null uint8
tm_ARI          5395 non-null uint8
tm_ATL          5395 non-null uint8
tm_BAL          5395 non-null uint8
tm_BOS          5395 non-null uint8
tm_CHC          5395 non-null uint8
tm_CHW          5395 non-null uint8
tm_CIN          5395 non-null uint8
tm_CLE          5395 non-null uint8
tm_COL          5395 non-null uint8
tm_DET          5395 non-null uint8
tm_HOU          5395 non-null uint8
tm_KCR          5395 non-null uint8
tm_LAA          5395 non-null uint8
tm_LAD          5395 non-null uint8
tm_MIA          5395 non-null uint8
tm_MIL          5395 non-null uint8
tm_MIN          5395 non-null uint8
tm_NYM          5395 non-null uint8
tm_NYY          5395 non-null uint8
tm_OAK          5395 non-null uint8
tm_PHI          5395 non-null uint8
tm_PIT          5395 non-null uint8
tm_SDP          5395 non-null uint8
tm_SEA          5395 non-null uint8
tm_SFG          5395 non-null uint8
tm_STL          5395 non-null uint8
tm_TBR          5395 non-null uint8
tm_TEX          5395 non-null uint8
tm_TOR          5395 non-null uint8
tm_WSN          5395 non-null uint8
str_g_x         5395 non-null object
str_year_x      5395 non-null object
name_g_y        5395 non-null object
fullname        5369 non-null object
yearid          5369 non-null float64
debut           5369 non-null object
g_y             5369 non-null float64
ab              5369 non-null float64
r               5369 non-null float64
h               5369 non-null float64
2b              5369 non-null float64
3b              5369 non-null float64
hr              5369 non-null float64
rbi             5369 non-null float64
sb              5369 non-null float64
cs              5369 non-null float64
bb              5369 non-null float64
so              5369 non-null float64
ibb             5369 non-null float64
hbp             5369 non-null float64
sh              5369 non-null float64
sf              5369 non-null float64
gidp            5369 non-null float64
str_g_y         5369 non-null object
str_year_y      5369 non-null object
dtypes: float64(26), int64(14), object(8), uint8(34)
memory usage: 2.2+ MB

In [42]:
merged[merged['fullname'].isnull()]

                      name  age  g_x   pa  rbat  rbaser  rdp  rfield  rpos  raa  waa  rrep  rar  war  waawl%  162wl%  owar  dwar  orar     salary  year  adj_salary  log10_adj  acquired_dr  acquired_fa  bat_hand_lhb  bat_hand_swh  tm_ARI  tm_ATL  tm_BAL  tm_BOS  tm_CHC  tm_CHW  tm_CIN  tm_CLE  tm_COL  tm_DET  tm_HOU  tm_KCR  tm_LAA  tm_LAD  tm_MIA  tm_MIL  tm_MIN  tm_NYM  tm_NYY  tm_OAK  tm_PHI  tm_PIT  tm_SDP  tm_SEA  tm_SFG  tm_STL  tm_TBR  tm_TEX  tm_TOR  tm_WSN str_g_x str_year_x                      name_g_y fullname  yearid debut  g_y  ab   r   h  2b  3b  hr  rbi  sb  cs  bb  so  ibb  hbp  sh  sf  gidp str_g_y str_year_y
203             John Mabry   29   95  244    -8      -1    0      -1    -2  -12 -1.1     8   -4 -0.4   0.488   0.497  -0.3  -0.3    -3  1850000.0  2000     2633403   6.420517            0            0             1             0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0      95       2000             johnmabry 95 2000      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
530             Pat Meares   32   86  284   -22      -1   -1      -3     2  -25 -2.6     9  -16 -1.7   0.471   0.485  -1.4  -0.2   -12  3790000.0  2001     5246539   6.719873            0            1             0             0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0      86       2001             patmeares 86 2001      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
888           Mike Redmond   31   88  290    -1      -1    1       6     4    9  0.9     9   18  1.8   0.511   0.506   1.2   1.0    12   650000.0  2002      885746   5.947309            0            1             0             0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0      88       2002           mikeredmond 88 2002      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
1486       Frank Menechino   33   84  311     7      -2    0      -8     0   -4 -0.3    12    8  0.8   0.495   0.501   1.5  -0.7    16   400000.0  2004      519047   5.715207            0            1             0             0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0      84       2004        frankmenechino 84 2004      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
2497         Scott Spiezio   34   81  257    -2       0   -1      -5    -1   -9 -1.0     8   -1 -0.2   0.489   0.494   0.3  -0.6     4  2100000.0  2007     2482622   6.394911            0            1             0             1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0      81       2007          scottspiezio 81 2007      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
2967            Nick Green   30  103  309    -9      -1   -1      -4     4  -11 -1.0    12    1  0.1   0.490   0.493   0.5   0.1     5   550000.0  2009      628404   5.798239            0            1             0             0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0     103       2009            nickgreen 103 2009      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
3296             Bill Hall   30  119  382     2       1    0       1    -1    3  0.4    14   17  1.8   0.503   0.502   1.6   0.1    16  8525000.0  2010     9583079   6.981505            0            0             0             0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0     119       2010             billhall 119 2010      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
3651             Don Kelly   31  112  281    -4       0    0       3    -3   -4 -0.4    11    6  0.6   0.496   0.497   0.3   0.1     3   423000.0  2011      460950   5.663654            0            1             1             0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0     112       2011             donkelly 112 2011      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
3827        Norichika Aoki   30  151  588    11       2    1       3    -4   13  1.4    18   31  3.2   0.509   0.508   2.7  -0.1    28  1000000.0  2012     1067623   6.028418            0            0             1             0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0     151       2012        norichikaaoki 151 2012      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
3915          Craig Gentry   28  121  269     0      -1    1      15     1   17  1.7    10   27  2.7   0.515   0.511   1.2   1.7    12   484300.0  2012      517050   5.713533            1            0             0             0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0     121       2012          craiggentry 121 2012      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
3999           Jeff Mathis   29   70  227   -10       0    1       4     4   -1 -0.1     9    8  0.7   0.499   0.500   0.3   0.8     4  1500000.0  2012     1601435   6.204509            0            0             0             0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0      70       2012            jeffmathis 70 2012      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
4138        Norichika Aoki   31  155  674     7      -4    2      10    -5   10  0.8    21   31  2.9   0.507   0.507   1.9   0.4    21  2000000.0  2013     2104422   6.323133            0            0             1             0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0     155       2013        norichikaaoki 155 2013      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
4179         Jamey Carroll   39   72  249   -16      -1    1      -2     1  -17 -1.8     9   -8 -0.9   0.475   0.493  -0.7   0.0    -6  3750000.0  2013     3945792   6.596134            0            0             0             0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0      72       2013          jameycarroll 72 2013      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
4373           Ryan Raburn   32   86  277    17      -1   -1      -1    -4   11  1.2    10   20  2.1   0.513   0.507   2.2  -0.5    21  1000000.0  2013     1052211   6.022103            0            1             0             0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0      86       2013            ryanraburn 86 2013      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
4463        Norichika Aoki   32  132  549     1       1    2      -7    -6   -9 -0.8    20   11  1.2   0.493   0.494   1.8  -1.2    18  1950000.0  2014     2019059   6.305149            0            0             1             0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0     132       2014        norichikaaoki 132 2014      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
4466          JP Arencibia   28   62  222    -8      -1   -1      -7    -1  -18 -2.0     8  -11 -1.2   0.467   0.487  -0.5  -0.8    -3  1800000.0  2014     1863746   6.270387            0            1             0             0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0      62       2014           jparencibia 62 2014      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
4504  Nicholas Castellanos   22  148  579    -2      -3    0     -30     3  -32 -3.3    21  -11 -1.2   0.477   0.479   1.9  -2.8    19   500000.0  2014      517707   5.714084            1            0             0             0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0     148       2014  nicholascastellanos 148 2014      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
4776        Norichika Aoki   33   93  392     2       0    0      -1    -3   -2 -0.3    13   11  1.0   0.498   0.499   1.1  -0.5    12  4000000.0  2015     4136749   6.616659            0            1             1             0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0      93       2015         norichikaaoki 93 2015      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
4814  Nicholas Castellanos   23  154  595    -3      -3   -3      -9     2  -16 -1.6    21    6  0.5   0.489   0.490   1.5  -0.6    14   525000.0  2015      542948   5.734758            1            0             0             0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0     154       2015  nicholascastellanos 154 2015      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
4833             Ike Davis   28   72  239    -4      -2    0      -1    -3  -11 -1.1     9   -2 -0.3   0.484   0.493  -0.2  -0.5    -1  3800000.0  2015     3929912   6.594383            0            0             1             0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0      72       2015              ikedavis 72 2015      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
4863        Jeff Francoeur   31  118  343     0      -2   -1     -11    -4  -18 -2.1    11   -7 -1.0   0.483   0.488   0.2  -1.7     4   950000.0  2015      982478   5.992323            0            1             0             0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0     118       2015        jefffrancoeur 118 2015      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
5024        Yolmer Sanchez   23  120  420   -17      -1    1       6     3   -7 -0.7    15    8  0.8   0.493   0.495   0.1   1.0     2   510000.0  2015      527435   5.722169            0            1             0             1       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0     120       2015        yolmersanchez 120 2015      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
5087        Norichika Aoki   34  118  467     6      -3    2      -4    -3   -2 -0.2    17   14  1.5   0.498   0.498   1.9  -0.7    18  5500000.0  2016     5617146   6.749516            0            1             1             0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0     118       2016        norichikaaoki 118 2016      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
5128  Nicholas Castellanos   24  110  447     8      -1    1     -11     2   -1  0.0    16   15  1.5   0.499   0.499   2.7  -0.9    26   536500.0  2016      547927   5.738723            1            0             0             0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0     110       2016  nicholascastellanos 110 2016      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
5352              JB Shuck   29   80  241   -15      -1    2     -12     0  -27 -2.7     9  -18 -1.9   0.465   0.483  -0.7  -1.2    -6   521000.0  2016      532096   5.725990            0            0             1             0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0      80       2016               jbshuck 80 2016      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN
5387           Tyler White   25   85  276    -5       0    0       1    -5  -10 -0.9    10    0  0.0   0.488   0.494  -0.1  -0.3    -1   507500.0  2016      518309   5.714589            1            0             0             0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0      85       2016            tylerwhite 85 2016      NaN     NaN   NaN  NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN NaN NaN   NaN     NaN        NaN

In [45]:
bat_join[bat_join['fullname'].str.contains('mabr')]

        fullname  yearid       debut    g   ab   r   h  2b  3b  hr   rbi   sb   cs  bb    so  ibb  hbp   sh   sf  gidp str_g str_year            name_g_y
11730  johnmabry    2000  1994-04-23   96  226  35  53  13   0   8  32.0  0.0  1.0  15  69.0  0.0  2.0  0.0  1.0   4.0    96     2000   johnmabry 96 2000
11731  johnmabry    2001  1994-04-23   87  154  14  32   7   0   6  20.0  1.0  0.0  13  46.0  1.0  5.0  0.0  2.0   6.0    87     2001   johnmabry 87 2001
11732  johnmabry    2002  1994-04-23  110  214  28  59  13   1  11  43.0  1.0  1.0  15  42.0  2.0  1.0  0.0  4.0   7.0   110     2002  johnmabry 110 2002
11733  johnmabry    2003  1994-04-23   64  104  12  22   6   0   3  16.0  0.0  0.0  15  21.0  2.0  3.0  0.0  0.0   3.0    64     2003   johnmabry 64 2003
11734  johnmabry    2004  1994-04-23   87  240  32  71  11   0  13  40.0  0.0  1.0  26  63.0  5.0  1.0  5.0  3.0   6.0    87     2004   johnmabry 87 2004
11735  johnmabry    2005  1994-04-23  112  246  26  59  15   1   8  32.0  0.0  0.0  20  63.0  1.0  0.0  6.0  2.0   6.0   112     2005  johnmabry 112 2005
11736  johnmabry    2006  1994-04-23  107  210  16  43   8   1   5  25.0  0.0  0.0  23  57.0  0.0  1.0  0.0  3.0   5.0   107     2006  johnmabry 107 2006
11737  johnmabry    2007  1994-04-23   28   34   4   4   1   0   1   5.0  0.0  0.0   5  10.0  0.0  0.0  0.0  0.0   1.0    28     2007   johnmabry 28 2007

In [44]:
bats[bats['playerID'].str.contains('mabr')]

        playerID  yearID  stint teamID lgID    G   AB   R   H  2B  3B  HR   RBI   SB   CS  BB    SO  IBB  HBP   SH   SF  GIDP
79991  mabryjo01    2000      1    SEA   AL   48  103  18  25   5   0   1   7.0  0.0  1.0  10  31.0  0.0  2.0  0.0  0.0   1.0
79992  mabryjo01    2000      2    SDN   NL   48  123  17  28   8   0   7  25.0  0.0  0.0   5  38.0  0.0  0.0  0.0  1.0   3.0
81352  mabryjo01    2001      1    SLN   NL    5    7   0   0   0   0   0   0.0  0.0  0.0   0   2.0  0.0  0.0  0.0  0.0   0.0
81353  mabryjo01    2001      2    FLO   NL   82  147  14  32   7   0   6  20.0  1.0  0.0  13  44.0  1.0  5.0  0.0  2.0   6.0
81833  thomabr01    2001      1    MIN   AL    5    0   0   0   0   0   0   0.0  0.0  0.0   0   0.0  0.0  0.0  0.0  0.0   0.0
82691  mabryjo01    2002      1    PHI   NL   21   21   1   6   0   0   0   3.0  0.0  0.0   1   5.0  1.0  0.0  0.0  1.0   0.0
82692  mabryjo01    2002      2    OAK   AL   89  193  27  53  13   1  11  40.0  1.0  1.0  14  37.0  1.0  1.0  0.0  3.0   7.0
84017  mabryjo01    2003      1    SEA   AL   64  104  12  22   6   0   3  16.0  0.0  0.0  15  21.0  2.0  3.0  0.0  0.0   3.0
84392  schmabr01    2003      1    DET   AL   11    0   0   0   0   0   0   0.0  0.0  0.0   0   0.0  0.0  0.0  0.0  0.0   0.0
84493  thomabr01    2003      1    MIN   AL    3    0   0   0   0   0   0   0.0  0.0  0.0   0   0.0  0.0  0.0  0.0  0.0   0.0
85415  mabryjo01    2004      1    SLN   NL   87  240  32  71  11   0  13  40.0  0.0  1.0  26  63.0  5.0  1.0  5.0  3.0   6.0
85848  thomabr01    2004      1    MIN   AL    3    0   0   0   0   0   0   0.0  0.0  0.0   0   0.0  0.0  0.0  0.0  0.0   0.0
86732  mabryjo01    2005      1    SLN   NL  112  246  26  59  15   1   8  32.0  0.0  0.0  20  63.0  1.0  0.0  6.0  2.0   6.0
88075  mabryjo01    2006      1    CHN   NL  107  210  16  43   8   1   5  25.0  0.0  0.0  23  57.0  0.0  1.0  0.0  3.0   5.0
89460  mabryjo01    2007      1    COL   NL   28   34   4   4   1   0   1   5.0  0.0  0.0   5  10.0  0.0  0.0  0.0  0.0   1.0
90623  harmabr01    2008      1    PHI   NL    6   10   1   1   1   0   0   1.0  0.0  0.0   1   1.0  0.0  0.0  0.0  0.0   1.0
94085  thomabr01    2010      1    DET   AL   49    0   0   0   0   0   0   0.0  0.0  0.0   0   0.0  0.0  0.0  0.0  0.0   0.0
95461  thomabr01    2011      1    DET   AL   12    0   0   0   0   0   0   0.0  0.0  0.0   0   0.0  0.0  0.0  0.0  0.0   0.0